<% content_for :page_title do %>
  <%= Spree.t(:notice) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_notice), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_notice_link' %>
<% end if can? :create, Spree::Notice %>

<% if @notices.any? %>
  <table class="table">
    <thead>
      <tr data-hook="admin_roles_index_headers">
        <th><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:body) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @notices.each do |notice|%>
        <tr id="<%= spree_dom_id notice %>" data-hook="admin_notice_index_rows">
          <td><%= notice.title %></td>
          <td>
            <%= strip_tags(notice.body || '')[0..40] %>
          </td>
          <td class="actions text-right">
            <%= link_to_edit(notice, no_text: true) if can? :edit, notice %>
            <%= link_to_delete(notice, no_text: true) if can? :destroy, notice %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Notice)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Notice %>!
  </div>
<% end %>
