<div id="home-content-feature-categories">
  <% ['饼干糕点', '巧克力', '饮料', '粮油调味品'].each_with_index do |taxon_name, index| %>
    <% taxonomy = Spree::Taxon.find_by(name: taxon_name) %>
    <% taxonomy_children = taxonomy.descendants %>
    <div class="home-content-feature-category" class="" data-hook>
      <div class="category-head clearfix">
        <div class="category-title pull-left">
          <span class="title-index"><%= index + 1 %>F</span>
          <% if taxonomy.parent %>
            <span class="title-text"><%= "#{taxonomy.parent.name}  |  #{taxonomy.name}" %></span>
          <% else %>
            <span class="title-text"><%= "#{taxonomy.name}" %></span>
          <% end %>
        </div>
        <div class="category-recommend pull-right">
          <ul class='nav navbar nav-pills'>
            <% taxonomy_children.first(6).each do |sub_category| %>
              <li><%= link_to sub_category.name, seo_url(sub_category) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="category-wrapper">
        <div class="category-list-item first" style="padding: 0px">
          <%= image_tag "#{index + 1}f.jpg", height: "330", width: '456' %>
        </div>
        <% all_category_products = Spree::Product.joins(:taxons).where('spree_taxons.id' => [taxonomy.id] + taxonomy_children.map(&:id)).uniq%>
        <% all_category_products.limit(6).each do |product| %>
          <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
          <div id="product_<%= product.id %>" class="category-list-item" data-hook="category_list_item" itemscope itemtype="https://schema.org/Product">
            <div class="panel panel-default">
              <div class="panel-body text-center product-body">
                <%= link_to url, itemprop: "url" do %>
                  <%= large_image(product, itemprop: "image", class: 'product-image') %><br/>
                  <%= content_tag(:div, truncate(product.name, length: 50), itemprop: "name", title: product.name, class: "product-title text-left") %>
                <% end %>
                <br/>
              </div>
              <div class="panel-footer">
                <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <div class="product-price selling" itemprop="price">
                    <span>批发：</span><span class="price"><%= display_price(product) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%# reset_cycle("classes") %>
      </div>
      <div class="category-ranking">
        <h4>热销排行榜</h4>
        <div class="ranking-items">
          <% all_category_products.order("sales_amount DESC").limit(5).each do |product| %>
            <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
            <div class="ranking-item clearfix">
              <div class="ranking-image pull-left">
                <%= link_to url, itemprop: "url" do %>
                  <%= small_image(product, itemprop: "image", class: 'ranking-product-image') %>
                <% end %>
              </div>
              <div class="ranking-info pull-right">
                <div class="ranking-title">
                  <%= product.name %>
                </div>
                <div class="ranking-price">
                  批发：<span class="price"><%= display_price(product) %></span>
                </div>
                <div class="ranking-sale-vol">
                  销量： <%= product.sales_amount %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
