<div id='home-feature-tabs' class="content-section">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#new-in-store" aria-controls="new" role="tab" data-toggle="tab">新品上市</a></li>
    <li role="presentation"><a href="#on-sale" aria-controls="on-sale" role="tab" data-toggle="tab">促销专区</a></li>
    <li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">热卖商品</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="new-in-store">
      <div data-hook="homepage_products">
        <% cache(cache_key_for_products) do %>
          <%= render :partial => 'spree/home/homepage_products', :locals => { :products => @products } %>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="on-sale">
      <div data-hook="homepage_products">
        <% cache(cache_key_for_products) do %>
          <%= render :partial => 'spree/home/homepage_products', :locals => { :products => @products } %>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="hot">
      <div data-hook="homepage_products">
        <% cache(cache_key_for_products) do %>
          <%= render :partial => 'spree/home/homepage_products', :locals => { :products => @products } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- feature-categories -->
<div id="home-feature-categories">
  <div data-hook="homepage_features">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/home/homepage_feature_categories', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
</div>

<!-- brands  -->
<div id="home-brands">
  <table class="brands-table">
    <tbody>
      <tr>
        <td><%= image_tag 'home/brands/ailianqiao.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/apu.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/ct.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/edeka.jpg', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/feilieluo.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/kangdi.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/kdv.jpg', :class => 'brand-logo-item' %></td>
      </tr>
      <tr>
        <td><%= image_tag 'home/brands/letian.gif', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/makefa.jpg', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/paixi.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/quechao.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/ruishisanjiao.jpg', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/rusheng.jpg', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/shiduoke.jpg', :class => 'brand-logo-item' %></td>
      </tr>
      <tr>
        <td><%= image_tag 'home/brands/silafu.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/siluoboda.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/taiya.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/weimizuiai.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/wuerwanake.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/yicai.png', :class => 'brand-logo-item' %></td>
        <td><%= image_tag 'home/brands/', :class => 'brand-logo-item' %></td>
      </tr>
    </tbody>
  </table>
</div>
