<div class="panel panel-default" id='shipping_method' data-hook>
  <div class="panel-body" data-hook="shipping_method_inner">
    <h3 class="panel-title"><%= Spree.t(:delivery) %></h3>
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>
        <div class="shipment">
          <h4 class="stock-shipping-method-title hidden"><%= Spree.t(:shipping_method) %></h4>
          <div class="main-delivery">
            <p>物流/快递 <span class="title-note">(仅收首重费用，超过首重将另外计费) </span></p>
            <% ship_form.object.shipping_rates.each do |rate| %>
              <% if rate.name != '客运捎件' %>
                <label class="checkbox-inline">
                  <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                  <span class="rate-name"><%= rate.name %></span>
                  <span class="rate-cost"> <%= rate.display_cost %></span>
                </label>
              <% end %>
            <% end %>
          </div>

          <div class="bus-delivery">
            <p>客运大巴 <span class="title-note">(限省内中小量货运)</span></p>
            <% ship_form.object.shipping_rates.each do |rate| %>
              <% if rate.name == '客运捎件' %>
                <label class="checkbox-inline">
                  <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                  <span class="rate-name"><%= rate.name %></span>
                  <span class="rate-cost"> <%= rate.display_cost %></span>
                </label>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <h3 class="panel-title cart-products-title">确认商品信息</h3>
    <div id="cart-table">
      <%= form.fields_for :shipments do |ship_form| %>
        <div class="shipment">

          <h4 class="stock-location hidden" data-hook="stock-location">
            <%= Spree.t(:package_from) %>
            <strong class="stock-location-name" data-hook="stock-location-name"><%= ship_form.object.stock_location.name %></strong>
          </h4>

          <table class="table stock-contents" data-hook="stock-contents">
            <colgroup>
              <col style="width: 10%;" />
              <col style="width: 50%;" />
              <col style="width: 20%;" />
              <col style="width: 10%;" />
              <col style="width: 10%;" />
            </colgroup>
            <thead>
              <tr class="active">
                <th></th>
                <th align='left'><%= Spree.t(:item) %></th>
                <th><%= Spree.t(:price) %></th>
                <th><%= Spree.t(:qty) %></th>
                <th>金额</th>
              </tr>
            </thead>
            <tbody>
              <% ship_form.object.manifest.each do |item| %>
                <tr class="stock-item">
                  <td class="item-image"><%= mini_image(item.variant) %></td>
                  <td class="item-name"><%= item.variant.name %></td>
                  <td class="item-price"><%= display_price(item.variant) %></td>
                  <td class="item-qty"><%= item.quantity %></td>
                  <td class="item-total-price"><%= display_price(item.variant) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <% if @differentiator.try(:missing?) %>
        <div class="shipment unshippable">
          <h3 class="stock-location" data-hook="stock-location">
            <%= Spree.t(:unshippable_items) %>
          </h3>
          <table class="table stock-contents" data-hook="stock-missing">
            <colgroup>
              <col style="width: 10%;" />
              <col style="width: 50%;" />
              <col style="width: 20%;" />
              <col style="width: 10%;" />
              <col style="width: 10%;" />
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th align='left'><%= Spree.t(:item) %></th>
                <th><%= Spree.t(:price) %></th>
                <th><%= Spree.t(:qty) %></th>
                <th>金额</th>
              </tr>
            </thead>
            <tbody>
              <% @differentiator.missing.each do |variant, quantity| %>
                <tr class="stock-item">
                  <td class="item-image"><%= mini_image(item.variant) %></td>
                  <td class="item-name"><%= item.variant.name %></td>
                  <td class="item-price"><%= display_price(item.variant) %></td>
                  <td class="item-qty"><%= item.quantity %></td>
                  <td class="item-total-price"><%= display_price(item.variant) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <% if Spree::Config[:shipping_instructions] %>
      <p id="minstrs" data-hook>
        <h4><%= Spree.t(:shipping_instructions) %></h4>
        <%= form.text_area :special_instructions, :cols => 40, :rows => 4, :class => "form-control" %>
      </p>
    <% end %>
  </div>
</div>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="">
        <%= render partial: 'summary', locals: { order: @order } %>
      </div>
    <% end %>
<div class="text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-red btn-130' %>
</div>
