<div class="home-slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <a class="item active" href='/'>
        <%= image_tag 'home/slider/slider1.png' %>
        <div class="carousel-caption">
        </div>
      </a>
      <a class="item">
        <%= image_tag 'home/slider/slider1.png' %>
        <div class="carousel-caption">
        </div>
      </a>
    </div>
  </div>
  <div class="home-swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
            <div class="swiper-slide"><%= image_tag 'home/swiper/food1.jpg', :class => 'swiper-item' %></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next"><i class="icon-angle-right"></i></div>
    <div class="swiper-button-prev"><i class="icon-angle-left"></i></div>
  </div>
  <script>
    var swiper = new Swiper('.swiper-container', {
        // pagination: '.swiper-pagination',
        // paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 5,
        autoplay: 2500,
        spaceBetween: 10,
        loop: true
    });
  </script>
</div>
