<nav class="">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <!-- <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li> -->
      <% if spree_current_user %>
        <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
        <li class="navbar-devider">|</li>
        <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
      <% else %>
        <li id="link-to-login-2"><%= link_to Spree.t(:login), spree.login_path %></li>
        <li class="navbar-devider">|</li>
        <li id="link-to-signup"><%= link_to Spree.t(:signup), spree.signup_path %></li>
      <% end %>

    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
        <li id="link-to-cart" data-hook> <!-- 购物车 -->
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
      <li id="link-to-account">
          <%= link_to '我的订单', '/account' %>
      </li>
      <li class="navbar-devider">|</li>
      <li id="link-to-kefu">
          <%= link_to '客服中心', '/kefu_center' %>
      </li>
      <li class="navbar-devider">|</li>
      <li id="link-to-help-center">
          <%= link_to '帮助中心', '/help_center' %>
      </li>
      <li class="navbar-devider">|</li>
      <li id="link-to-pricing-list">
          <%= link_to '报价单', '/pricing-list' %>
      </li>
    </ul>
  </div>
</nav>
