<% unless @product_properties.empty? %>
  <div id="product-properties" class="table table-striped" data-hook>
    <div id="product-price">
      <span class="product-section-title">价格：</span>
      <span class="lead-currency">￥</span>
      <span class="lead price selling" itemprop="price" style="font-weight: 500;">
        <span><%= display_only_price(@product) %></span>
      </span>
      <!-- <span itemprop="priceCurrency" content="<%= @product.currency %>"></span> -->

      <% if @product.master.can_supply? %>
        <link itemprop="availability" href="https://schema.org/InStock" />
      <% elsif @product.variants.empty? %>
        <br />
        <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
      <% end %>
    </div>

    <% @product_properties.each do |product_property| %>
      <% presentation = product_property.property.presentation %>
      <% next unless @useful_category.include? presentation %>
      <div class="property-item">
        <span class="property-title"><%= presentation %></span>
        <span class="property-value"><%= product_property.value %></span>
      </div>
    <% end %>
    <div class="property-item">
      <span class="property-title">配送范围</span>
      <span class="property-value">全国</span>
    </div>
    <div class="property-item">
      <span class="property-title">配送时间</span>
      <span class="property-value">4-7 天</span>
    </div>
    <div class="property-item">
      <span class="property-title">起批量</span>
      <span class="property-value"> <%= @product.wholesale_count %> 个</span>
    </div>
  </div>
<% end %>
