<% if @products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% else %>
  <div class="result-count"> 有<%= @products.total_count %>条相关产品 </div>
<% end %>


<% @all_brands.each do |brand| %>
  <%= link_to brand, params.merge({ brand: brand}), class: "brand-class" %>
<% end %>

<hr />

<% @all_locations.each do |location| %>
  <%= link_to location, params.merge({ location: location}), class: "location-class" %>
<% end %>

<hr />

<% @all_categries.each do |category| %>
  <%= link_to category, params.merge({ category: category}), class: "category-class" %>
<% end %>

<hr />

<% if params[:keywords] %>
  <div data-hook="search_results">
    <% if not @products.empty? %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% else %>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% end %>
