<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-12">
      <div class="pull-left product-left-part" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center">
                <%= render :partial => 'image' %>
              </div>
            </div>
            <div id="thumbnails" data-hook>
              <%= render :partial => 'thumbnails' %>
            </div>
          </div>

          <!-- <div data-hook="promotions">
               <%= render :partial => 'promotions' %>
               </div> -->
        </div>
      </div>

      <div class="inline product-right-part" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <div class="product-title-section">
              <div class="product-title" itemprop="name"><%= @product.name %></div>
              <div class="product-title-subdescription"">
                <span class="product-country"> <%= @product_country.value if (@product_country and not @product_country.value.include? "见包装") %> </span>
                <span class="product-brand"> <%= @product_brand.value if (@product_brand and not @product_brand.value.include? "见包装") %> </span>
              </div>
            </div>
            <!-- <div class="well" itemprop="description" data-hook="description">
                 <%= product_description(@product) %>
                 </div> -->

            <div data-hook="product_properties">
              <%= render :partial => 'properties' %>
            </div>

            <div id="cart-form" data-hook="cart_form" style="position:relative">
              <%= render :partial => 'cart_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div id="taxon-crumbs" class="similar-product-section" data-hook="product_taxons">
        <%= render :partial => 'taxons' %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="product-detail-tab-menu">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">图文详情</a></li>
          <li role="presentation"><a href="#shipment" aria-controls="shipment" role="tab" data-toggle="tab">配送及售后</a></li>
          <!-- <li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">热卖商品</a></li> -->
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="description">
          <%= image_tag 'product/product-banner.png', class: 'product-description-banner' %>
          <!-- <%= image_path('') %> -->
          <div class="product-details-wrapper">
            <div class="product-details-data">
              <div class="product-data-title clearfix">
                <div class="title-content text-center"> 产品参数 </div>
                <div class="deco-left pull-left"></div>
                <div class="deco-right pull-right"></div>
              </div>
            </div>
            <div class="product-description-content clearfix">
              <div class="pull-left product-description-image">
                <%= large_image(@product, itemprop: "image", style: 'max-width:100%;height: auto;') %>
              </div>
              <div class="pull-right product-description-attr">
                <table>
                  <thead><tr><th width="25%"></th><th class="75%"></th></tr></thead>
                  <tbody>
                    <tr><td  class="text-right table-title">配 料 表：</td><td>植脂末【葡萄糖浆，清华棕榈油，乳化剂（酪蛋白酸钠，单.双甘油脂肪酸酯），稳定剂（磷酸氢二钾）】全脂奶粉，食盐，速溶绿茶粉。</td></tr>
                    <tr><td  class="text-right table-title">净 含 量：</td><td>360克</td></tr>
                    <tr><td  class="text-right table-title">生产日期：</td><td>详见实物包装标识处</td></tr>
                    <tr><td  class="text-right table-title">储存方法：</td><td>请置于阴凉干燥处保存</td></tr>
                    <tr><td  class="text-right table-title">保 质 期：</td><td>12个月</td></tr>
                    <tr><td  class="text-right table-title">适合人群：</td><td>非婴幼儿</td></tr>
                    <tr><td  class="text-right table-title">退货政策：</td><td>不支持7天无理由退货</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
              <% if  @product.description %>
                <div class="description-html">
                  <%= @product.description.html_safe %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipment">
          配送
        </div>
      </div>
    </div>
  </div>
<% end %>
