<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <!-- <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div> -->
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <!-- <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) %>
          </div> -->
          <div data-hook="product_properties">
            <%= render :partial => 'properties' %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
          <%= render :partial => 'taxons' %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="product-detail-tab-menu">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">图文详情</a></li>
          <li role="presentation"><a href="#shipment" aria-controls="shipment" role="tab" data-toggle="tab">配送及售后</a></li>
          <!-- <li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">热卖商品</a></li> -->
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="description">
          <%= image_tag 'product/product-banner.png', class: 'product-description-banner' %>
          <!-- <%= image_path('') %> -->
          <h1>不可描述</h1>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipment">
          配送
        </div>
        <!-- <div role="tabpanel" class="tab-pane fade" id="hot">
          <div data-hook="homepage_products">
            <% cache(cache_key_for_products) do %>
              <%= render :partial => 'spree/home/homepage_products', :locals => { :products => @products } %>
            <% end %>
          </div>
        </div> -->
      </div>
    </div>
  </div>
<% end %>
