<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<table class="table" id="cart-detail" data-hook>
  <thead>
    <tr class="active cart_items_headers" data-hook="cart_items_headers">
      <td class="cart-item-check-all">
        <label class="checkbox-inline btn-select-all hidden">
          <input type="checkbox" name="cartCheckAll">
          <span>全选</span>
        </label>
      </td>
      <td class="cart-item-image-header"></td>
      <td class="cart-item-description-header"><%= Spree.t(:item) %></td>
      <td class="cart-item-price-header"><%= Spree.t(:price) %></td>
      <td class="cart-item-quantity-header text-center"><%= Spree.t(:qty) %></td>
      <td class="cart-item-total-header text-center"><%= Spree.t(:total) %></td>
      <td class="cart-item-delete-header text-center">操作</th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal hidden">
      <td colspan="5" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
      <td colspan><h5 class="text-center"><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <!-- <%= render "spree/orders/adjustments" %> -->
  <% end %>
  <tr class="warning cart-total">
    <td colspan="1">
      <label class="checkbox-inline btn-select-all">
        <input type="checkbox" name="cartCheckAll">
        <span>全选</span>
      </label>
    </td>
    <td colspan="1" class="text-center">
      <a href="" class="delete-all">删除选中商品</a>
    </td>
    <td colspan="5">
      <div class="pull-right">
        <span class="total-price-title">总价（不含运费）：</span>
        <span class="total-price"><%= order_form.object.display_total %></span>
        <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
          <input type="hidden" name="active_line_id" id="active_line_id" value="" />
          <button name="checkout" type="submit" class="btn btn-primary btn-check" disabled="disabled" id="checkout-link">
                      结账
          </button>
<!--           <%= hidden_field_tag :active_line_id, 0 %>
          <%= button_tag class: 'btn btn-success btn-check', disabled: 'true', id: 'checkout-link', name: 'checkout' do %>
            <%= Spree.t(:checkout) %>
          <% end %> -->
        <% end %>
      </div>
    </td>
  </tr>
</table>
